# python cache
**.so
**.py[cod]
.pytest_cache
.ipynb_checkpoints
__pycache__/
**/__pycache__/

# torch embeddings
**.pt
**.pth
**.emb
**.emb.*
**.emb*

# temp logs
**.txt
**.logs
**.log

# exceptions for tests
!tests/test_data/*.pt
!tests/test_data/*.fas
!tests/test_data/*.fasta
!tests/test_data/embeddings/*.emb
tests/output

/*.csv
/*.p
**.txt
*.png
# tests
.pytest_cache
# code profiler
profile*.txt
# line profiler
**.lprof

# results cache
results.*

temp
scripts/output/multi_query.hits.csv
scripts/input/multi_query.fas
scripts/output/multi_query.csv
scripts/output/cupredoxin.csv
scripts/output/cupredoxin.hits.csv
