# python cache
**.so
**.py[cod]
.pytest_cache
.ipynb_checkpoints
__pycache__/
**/__pycache__/

# torch embeddings
**.pt
**.pth
**.emb
**.emb.*
**.emb*

# temp logs
**.txt
**.logs
**.log

# exceptions
!tests/test_data/*.pt
!tests/test_data/*.fas
!tests/test_data/*.fasta
!tests/test_data/embeddings/*.emb


/*.csv
/*.p
**.txt
*.png
# tests
.pytest_cache
# code profiler
profile*.txt
# line profiler
**.lprof

# results cache
results.*

temp
